/* App.css */

html, body, #root {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  text-align: center;
}

.app-layout {
  min-height: 100vh;
}

.app-header {
  display: flex;
  align-items: center;
}

.app-menu-horizontal {
  flex: 1;
  min-width: 0;
}

.app-content-wrapper {
  padding: 0 48px;
}

.app-breadcrumb {
  margin: 16px 0;
}

.app-inner-layout {
  padding: 24px 0;
  border-radius: var(--border-radius-lg);
  background-color: var(--color-bg-container);
}

.app-content {
  padding: 24px;
  min-height: 280px;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
  background-color: rgba(245, 245, 245, 0.8);
  width: 80%;
   margin: 0 auto;
}

.app-footer {
  text-align: center;
}
